:root {
    --i-radius: 20px;
    --image-border-radius: var(--i-radius) var(--i-radius) var(--i-radius) 60px;
    --image-border-radius-desktop: var(--i-radius) var(--i-radius) 50px var(--i-radius);
    --whole-page-margin: 75px;
    --card-max-width: 400px;
    --header-height: 60px;
    color: var(--neutral-color);
}

[data-theme="dark"] {
    --primary-color: #967db0;
    --neutral-color: #322f36;
    --neutral-color-2: #4a4350;
    --secondary-color: #F9F5FF;
    --accent-color: #768a2b;

    .logo-full {
        content: url("images/my-logo-full-dark.svg");
    }
}

[data-theme="light"] {
    --primary-color: #765995;
    --neutral-color: #F9F5FF;
    --neutral-color-2: #efe6ff;
    --secondary-color: #363732;
    --accent-color: #c9eb4a;
}

html {
    font-family: "League Spartan", sans-serif;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 25px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--neutral-color);
    display: flex;
    flex-direction: column;
    gap: var(--whole-page-margin);
}

button {
    color: var(--primary-color);
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 12px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--neutral-color);
    font-family: inherit;
}

.button:hover {
    background-color: #c5c5c5;
}

.button:active {
    background-color: #818181;
}

.header {
    margin: auto;
    background-color: var(--neutral-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: var(--header-height);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
}

.mobile-header {
    display: flex;
    align-items: center;
}

.header-links {
    width: 70%;
    display: contents;
    box-sizing: border-box;
    position: relative;
}

.header-link {
    color: var(--secondary-color);
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    transition: filter 200ms ease-in-out;
}

.header-link:hover {
    filter: drop-shadow(0 0 4px var(--secondary-color));
}

.circularBtn {
    color: var(--secondary-color);
    border: 0;
    border-radius: 500px;
    font-size: 16px;
    width: 42px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--neutral-color);
}

#hamburgerBtn {
    background-color: transparent;
    display: none;
    --fa-animation-iteration-count: 0.25;
    transition: filter 200ms ease-in-out;
}

#hamburgerBtn:hover {
    filter: drop-shadow(0 0 5px var(--secondary-color));
}

/* Disable the side bar closer on desktop. */
.sideBarCloser {
    display: none;
}

.themeSelectWrapper {
    position: relative;
    display: inline-block;
    z-index: 50;
}

.themeOptions {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--neutral-color-2);
    border-radius: var(--i-radius);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.themeOption {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    cursor: pointer;
    color: var(--secondary-color);
    transition: background-color 200ms ease-in-out;
}

.themeOption i {
    margin-right: 10px;
    width: 20px;
}

.themeOption,
#themeButton {
    transition: filter 200ms ease-in-out;
    background-color: transparent;
    --fa-animation-iteration-count: 1;
}

.themeOption:hover,
#themeButton:hover {
    filter: drop-shadow(0 0 6px var(--secondary-color));
}

#themeButton > i {
    font-size: 1rem;
}

@media all and (max-width: 800px) {
    .header {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #hamburgerBtn {
        display: flex;
    }

    .themeSelectWrapper {
        margin-left: auto;
    }

    .header-links {
        width: 100%;
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        display: none;
        position: relative;
        z-index: 10;
    }

    .header-link {
        font-size: 20px;
        width: 100%;
        text-align: center;
        padding: 25px;
        z-index: 10;
    }

    .sideBarCloser {
        display: unset;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/*Dont reorder the next 2 styles.*/
.circularBtn:hover {
    background-color: #c5c5c5;
}

.circularBtn:active {
    background-color: #818181;
}

.bio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 15%;
    color: var(--secondary-color);
    padding: 25px;
    border-radius: 50px;
    max-width: 1100px;
    width: 100%;
    margin-top: calc(var(--header-height) + var(--whole-page-margin));
}

.bio-description {
    font-size: 1.8rem;
    line-height: 2rem;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1;
}

.profile-pic-container > svg {
    position: absolute;
    max-width: 500px;
    margin: 0 8px;
}

.profile-pic-background-1 {
    fill: var(--accent-color);
}

.profile-pic-background-2 {
    fill: #765995;
    fill-opacity: 0.95;
}

.bio-cta {
    border-radius: var(--i-radius);
    padding: 12px 34px;
    background-color: var(--accent-color);
    width: 100%;
    max-width: 250px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
    display: block;
    text-align: center;
    margin-top: 34px;
    transition: filter 200ms ease-in-out;
}

.bio-cta:hover {
    filter: drop-shadow(0 0 12px var(--accent-color));
}

@media all and (max-width: 800px) {
    .bio-container {
        margin-top: calc(var(--header-height) + var(--whole-page-margin) + 85px);
        grid-template-columns: 1fr;
        gap: 300px;
    }

    .bio-description {
        grid-column: 1;
        line-height: 1.8rem;
    }
}

.website-introduction {
    background-image: url("images/pattern.svg");
    background-repeat: no-repeat;
    font-size: 1.5rem;
    background-color: var(--neutral-color-2);
    padding: 75px;
    margin-top: calc(var(--whole-page-margin) + 25px);
}

.website-introduction > p {
    max-width: 900px;
    margin: auto;
    text-align: center;
    line-height: 2rem;
    color: var(--secondary-color);
}

@media all and (max-width: 800px) {
    .website-introduction {
        background-size: 50%;
        margin-top: 0;
        padding: 35px;
    }
}

#projects-header {
    text-align: center;
    margin: 0;
    color: var(--secondary-color);
    scroll-margin-top: 120px;
}

.cards-container {
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--whole-page-margin);
    width: 90%;
}

.card {
    width: 100%;
    max-width: var(--card-max-width);
    border-radius: 25px;
    cursor: pointer;
    color: var(--secondary-color);
    overflow: hidden;
}

.card:hover > .card-image-container > .card-image {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 255px;
    object-fit: cover;
    transition: transform 0.25s, background 2s;
}

.card-image-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--image-border-radius);
}

.card-tags {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    gap: 5px;
    padding: 0 18px;
    flex-wrap: wrap;
}

.card-tags > span {
    border: var(--primary-color) solid 2px;
    padding: 0 8px;
    padding-top: 3px;
    line-height: 1rem;
    border-radius: 100px;
}

.card-title {
    margin-top: 38px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.card-desc {
    margin: 22px;
    margin-top: 5px;
}

.card-cta {
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: rgb(239, 230, 255);
    padding: 13px;
    border-radius: 18px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    transition: filter 200ms ease-in-out;
}

.card-cta:hover {
    filter: drop-shadow(0 0 7px var(--primary-color));
}

.card-src-link {
    width: 100%;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--neutral-color-2);
    border-radius: var(--i-radius);
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    transition: filter, box-shadow 200ms ease-in-out;
    box-shadow: transparent 0 0 0 2px;
}

.card-src-link:hover {
    filter: drop-shadow(0 0 7px var(--primary-color));
    box-shadow: var(--primary-color) 0 0 0 2px;
}

.card-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.card-lower-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    --radius: 20px;
    position: relative;
    max-width: var(--card-max-width);
}

.card-lower-part::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-color-2);
    z-index: -1;
}

.card-lower-part svg {
    fill: var(--neutral-color-2);
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -30px;
    left: 0;
    right: 0;
}

/* Horizontal cards on desktop. */
@media all and (min-width: 800px) {
    .cards-container {
        flex-direction: column;
    }

    .card {
        max-width: unset;
        min-width: 100%;
        display: flex;
        gap: 19px;
    }

    .card-lower-part {
        max-width: unset;
        width: 100%;
        position: relative;
    }

    .card-lower-part:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 30%;
        max-width: 200px;
        opacity: 0.7;
        z-index: -1;
        transform: scaleX(-1);
        background-image: url("images/pattern.svg");
        background-repeat: no-repeat;
        transition: filter 200ms ease-in-out;
    }

    .card:hover .card-lower-part:after {
        filter: drop-shadow(0 0 4px var(--primary-color));
    }

    .card-image-container {
        max-width: 35%;
        border-radius: var(--image-border-radius-desktop);
    }

    .card-links {
        width: 400px;
        margin-top: auto;
        margin-left: auto;
    }

    .card-image {
        height: 100%;
    }

    .card-lower-part::before {
        left: 40px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--neutral-color-2);
        z-index: -1;
    }

    .card-lower-part svg {
        fill: var(--neutral-color-2);
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        width: unset;
        left: -35px;
        height: 100%;
    }

    /* Use the horizontal svg on desktop. */
    /* Rotation is not used because you can't set the height correctly on rotated elements. */
    .card-lower-part path {
        d: path('M3.5,2v23.3c0,0.9-0.1,1.7-0.5,2.5c-0.6,1.1-1.6,1.9-3,2.1V30h13.6h13.5H28c1.1,0,2-0.9,2-2v-1.5V9.7V2 c0-1.1-0.9-2-2-2H5.5C4.4,0,3.5,0.9,3.5,2z');
    }

    .card-title {
        margin-top: 25px;
        margin-left: 20px;
    }

}

.footer {
    min-height: 300px;
    background-color: var(--neutral-color-2);
    color: var(--secondary-color);
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
    gap: 25px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.footer-text {
    padding-left: 30px;
    border-left: 2px solid var(--primary-color);
    max-width: 450px;
}

.footer-link {
    color: inherit;
    font-style: normal;
    font-size: 35px;
    text-decoration: none;
    transition: filter 200ms ease-in-out;
}

.footer-link:hover {
    filter: drop-shadow(0 0 4px var(--secondary-color));
}

@media all and (max-width: 800px) {
    .footer-text {
        border-left: 0;
        border-bottom: 2px solid var(--primary-color);
        padding-left: 0;
        padding-bottom: 35px;
        padding-top: 15px;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 35px;
    }
}

.logo {
    transition: filter 200ms ease-in-out;
}

.logo:hover {
    filter: drop-shadow(0 0 12px var(--accent-color));
}

.logo-full {
    transition: filter 200ms ease-in-out;
}

.logo-full:hover {
    filter: drop-shadow(0 0 6px var(--primary-color));
}

/* Define the fade-in keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Style for the element with animation */
.fade-in {
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease-in; /* Smooth transition */
}

.fade-in.visible {
    animation: fadeIn 0.5s forwards; /* Apply fade-in animation */
}
