.themeSelectWrapper {
    position: relative;
    display: inline-block;
    z-index: 50;
}

.themeOptions {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--neutral-color-2);
    border-radius: var(--i-radius);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.themeOption {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    cursor: pointer;
    color: var(--secondary-color);
    transition: background-color 200ms ease-in-out;
}

.themeOption i {
    margin-right: 10px;
    width: 20px;
}

.themeOption,
#themeButton {
    transition: filter 200ms ease-in-out;
    background-color: transparent;
    --fa-animation-iteration-count: 1;
}

.themeOption:hover,
#themeButton:hover {
    filter: drop-shadow(0 0 6px var(--secondary-color));
}

#themeButton > i {
    font-size: 1rem;
}

@media all and (max-width: 800px) {
    .themeSelectWrapper {
        margin-left: auto;
    }
}